doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery-3.2.1.js' type="text/javascript")
      script(src='login.js' type="text/javascript")
  body
    block content
  //script.
  //    alert()
